.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    background-color: white;
    background-color: black;
    margin: 20px auto;
}
 
@media (max-width: 1450px) {
    .wrapper {
        margin: auto;
    }
    }
