.header {
    border-bottom: 1px solid #eaeaea;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 660px) {
    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 450px) {
    .header {
       height: 90px;;
    }
}

.leftHeader {
    display: flex;
    gap: 10px;
}
.leftHeader img {
    margin-top: -7px;
}
.store_title h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
}
.store_title p {
    margin-top: -20px;
    padding-top: 100 px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9d9d9d;
}
.rigthHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    list-style: none;
    padding-right: 30px;
}

.rigthHeader li span {
    color: #eaeaea;
}
.rigthHeader li {
    display: flex;
    gap: 10px;
}
.cart {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.cartIcon {
    margin-top: -10px;
}
@media (max-width: 700px) {
    .header {
        padding: 10px;
    }
}
@media (max-width: 660px) {
    .header {
        gap: -5px;
    }
}
@media (max-width: 750px) {
    .cart span {
        display: none;
    }
}
@media (max-width: 450px) {
    .store_title h3 {
        font-size: 20px;
    }
}
@media (max-width: 450px) {
    .store_title p {
        font-size: 10px;
    }
}
@media (max-width: 450px) {
    .firstIcon {
        height: 25px; 
        width: 25px;
}
}
@media (max-width: 450px) {
    .lastIcon {
        height: 33px; 
        width: 33px;
}
}
@media (max-width: 450px) {
    .leftHeader img {
        margin-top: 0px;
        height: 82px; 
        width: 70px;
}
}
@media (max-width: 325px) {
    .store_title h3 {
        font-size: 17px;
    }
}
@media (max-width:325px) {
    .store_title p {
        font-size: 8px;
    }
}
@media (max-width: 325px) {
    .leftHeader img {
        margin-top: 0px;
        height: 75px; 
        width: 70px;
}
}
@media (max-width: 660px) {
    .rigthHeader {
        margin-top: -15px;
    }
}

@media (max-width: 660px) {
    .rigthHeader {
        align-items: center;
        justify-content: center;
        gap: 100px;
        margin-top: -5px;
    }
}
@media (max-width: 450px) {
    .rigthHeader {
        gap: 80px;
        margin-top: -10px;
    }
}

@media (max-width: 480px) {
    .leftHeader {
        justify-content: center;
        gap: 0px;
    }
}
